<div class="ml-5">

    <!-- <p> put percentage breakdown of portfolio here </p> -->

    <h3> Portfolio Value: <%= number_to_currency(@portfolio.value) %> </h3>

<table id="portfolio-stocks-home-table">
  <tr>
    <th> Ticker </th>
    <th> Quantity</th>
    <th id="price-sort" href="<%=portfolio_path(params[:id])%>"> Price </th>
  </tr>
<% @portfolio_stocks.each do |stock| %>
<tr class="stock-tr">
  <td> <%= link_to stock.ticker, stock_path(stock.stock_id) %> </td>
  <td> <%= link_to stock.quantity, edit_portfolio_portfolio_stock_path(stock.portfolio_id, stock.id) %> </td>
  <td> <%= price_from_portfolio_stock(stock.stock_id) %> </td>
</tr>
  <% end %>

</table>


<button id="update-stocks-button"  href="<%=portfolios_update_path%>">Update Stock Data</button>


</div>