<h1> Portfolio </h1>

    <!-- <p> put percentage breakdown of portfolio here </p> -->

    <h3> Portfolio Value: <%= number_to_currency(@portfolio.value) %> </h3>

<table>
  <tr>
    <th> Ticker </th>
    <th> Quantity Owned </th>
    <th> Edit </th>
    <th> Price </th>
  </tr>
<% @portfolio_stocks.each do |stock| %>
<tr class="stock-<%=stock.id%>-tr">
  <td> <%= link_to stock.ticker, stock_path(stock.stock_id) %> </td>
  <td> <%= stock.quantity %> </td>
  <td> <%= link_to "Edit quantity", edit_portfolio_portfolio_stock_path(stock.portfolio_id, stock.id) %> </td>
  <td> <%= price_from_portfolio_stock(stock.stock_id) %>
</tr>
  <% end %>

</table>
<%= form_tag portfolio_path(@portfolio, html: {class: "update-stocks-button"}), method: "put" do %>
<%= submit_tag "Update Stocks data" %>
<% end %>
