<%=form_for(@portfolio_stock, url: portfolio_portfolio_stocks_path)  do |f| %>
  <%= f.hidden_field :portfolio_id %>

  <% if @portfolio_stock.errors.any? %>
    <ul>
      <% @portfolio_stock.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>

  <%= f.fields_for :stock, @stock do |s| %>
    <%= s.label :ticker %>
    <%= s.text_field :ticker %>
  <% end %>
  <%= f.label :quantity %>
  <%= f.number_field :quantity %>
  <%= f.submit class: 'submit-button' %>
<%end%>

<h3> Check out these stocks you or other users have added to their portfolio </h3>

<% if @cheapest_stock %>
<p>Cheapest stock by P/E Ratio: <%= link_to @cheapest_stock.ticker, stock_path(@cheapest_stock) %> </p>
<%end%>
<% if @highest_mcap_value_stock %>
<p>Highest market cap value stock: <%= link_to @highest_mcap_value_stock.ticker, stock_path(@highest_mcap_value_stock) %> </p>
<%end%>




<table class="portfolio-stocks">

<% if @portfolio_stocks %>
  <% if @portfolio_stocks.length > 0 %>
    <tr>
      <th> Ticker </th>
      <th> Quantity Owned </th>
      <th> Edit </th>
    </tr>

    <% @portfolio_stocks.each do |stock| %>
      <tr>
        <td> <%= link_to stock.ticker, stock_path(stock.stock_id) %> </td>
        <td> <%= stock.quantity %> </td>
        <td> <%= link_to "Edit quantity", edit_portfolio_portfolio_stock_path(stock.portfolio_id, stock.id) %> </td>
      </tr>
    <% end %>

  <%end%>
<%end%>

</table>
