<h1 class="stock-name"> <%= @stock.name %> </h1>
<h3 class="stock-ticker"> <%= @stock.ticker %> </h3>

<strong> Price: </strong> <label class="stock-price"> <%= @stock.price %> </label>
 <br>
 <br>
<strong> Market Cap: </strong> <label class="market-cap"> <%= @stock.market_cap_string %> </label>
<br>
<br>
<strong> P/E Ratio: </strong> <label class="pe-ratio"> <% if @stock.pe_ratio %> <%= @stock.pe_ratio %> <%end%> </label>
 <br>
 <br>
<strong> Six Month Appreciation: </strong> <label class="six-month"> <%= @stock.six_month_appreciation %> </label>

<!-- <button class="next-stock" href="/stocks/<%=@first_id%>" >Get next stock</button> -->

<%= form_tag("/stocks/next", method: :post, class: "next-stock-form") do %>
<%= hidden_field_tag 'id', @first_id %>
<%= submit_tag %>
