<!DOCTYPE html>
<html>
<head>
  <meta content="no-cache" />
  <title>PortfolioTracker</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user  %>

<ul>

  <li class="navbar"><%= link_to "Portfolio", portfolio_path(user_portfolio_id)%> </li>
  <li class="navbar"><%= link_to "Add a stock", new_portfolio_portfolio_stock_path(user_portfolio_id) %> </li>
  <li class="navbar"><%= link_to "Stocks", stocks_path %> </li>
  <li class="navbar"><%= link_to "Logout", logout_path %> </li>
</ul>

<%else%>
<ul class="navbar">
  <li class="navbar"><%= link_to "Home", home_path%></li>
  <li class="navbar"><%= link_to "Create account", new_user_path%></li>
</ul>
<%end%>
<br>
<br>
<br>

<%= yield %>

</body>
</html>
